<% if notice || alert %>
  <div class="alert <%= notice ? 'alert-success' : 'alert-danger' %> alert-dismissible fade show" role="alert">
    <div>
      <%= notice || alert %>
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
